.aboutus-blacksection{
    width: 100%;
    height: 70vh;
    padding-top: 180px;
    background-color: black;
    /* background-image: url("src/assets/frontbackground.png"); */
}
.aboutus-blacksection h1{
    text-align: center;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 60px;
    line-height: 125%; /* 140px */
    background: linear-gradient(92deg, #DB0009 0.48%, #D533D8 25.26%, #D4AB00 50.05%, #01C46F 74.84%, #0075C2 99.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}