*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color:rgb(0, 0, 0);
}

#navlinks{
    background-color: rgb(19, 19, 19);
    padding: 25px;
    border-radius: 10px;
}
#navbar {
    display: flex;
    justify-content:space-evenly;
    padding: 0 5px;
}
#navbar li{
    list-style: none;
    padding: 0 5px;
}
#navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1rem;
}
#navbar a:hover{
    color: black;
    background-color: white;
    transition: 0.3s ;
}
#mobile{
    display: none;
}
#close{
    display: none;
}

@media (max-width:820px) {
    #navlinks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position:fixed;
        top:0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color:black;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
        padding: 80px 0 0 10px;
        transition: 0.6s;
        z-index: 100;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position:fixed;
        background-color: rgb(19, 19, 19);
        width: 280px;
        border-radius: 10px;
        overflow: hidden;
    }
    #navbar li{
       padding: 25px;
    }
    #navbar a:hover{
    color: black;
    background-color: white;
    transition: 0.3s ;
}
    #navlinks.mobile-active{
        right: 0px;
    }
    #navlinks a{
        color: white;
    }
    #mobile {
        display: flex;
    }
    #mobile i{
        color: white;
        font-size: 2.2rem;
    }
    #close{
        display: initial;
        position: absolute;
        top:30px;
        left:40px;
    }
    #close i{
        color: white;
        font-size: 2.2rem;
    }
}
@media (max-width:477px){
    .header{
    padding:10px 30px ;
    }
    #navlinks{
        width: 210px;
    }
}